/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT_L 0
#define SYMBOLS_L 1
#define ARROWS_L  2
#define NUMBERS_L 3

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <300>;
            quick-tap-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    combos {
        compatible = "zmk,combos";

        a {
            bindings = <&kp ESCAPE>;
            key-positions = <1 0>;
        };

        b {
            bindings = <&kp CLCK>;
            key-positions = <14 15>;
        };

        c {
            bindings = <&kp TAB>;
            key-positions = <2 3>;
        };

        d {
            bindings = <&kp BACKSPACE>;
            key-positions = <10 9>;
        };

        e {
            bindings = <&kp ENTER>;
            key-positions = <22 21>;
        };

        f {
            bindings = <&kp MINUS>;
            key-positions = <19 20>;
        };

        g {
            bindings = <&kp EQUAL>;
            key-positions = <21 20>;
        };

        h {
            bindings = <&sys_reset>;
            key-positions = <29 0>;
        };

        j {
            bindings = <&sys_reset>;
            key-positions = <30 11>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            label = "0";
            bindings = <
&trans  &kp Q       &kp W       &kp E         &kp R        &kp T        &kp Y       &kp U          &kp I           &kp O         &kp P          &trans
&trans  &mt LGUI A  &mt LALT S  &mt LSHIFT D  &mt LCTRL F  &kp G        &kp H       &mt RCTRL J    &mt RSHIFT K    &mt RALT L    &mt RGUI SEMI  &trans
&trans  &kp Z       &kp X       &kp C         &kp V        &kp B        &kp N       &kp M          &mt LBRC COMMA  &mt RBRC DOT  &mt SQT FSLH   &trans
                                &mo 1         &kp ESCAPE   &kp SPACE    &kp RETURN  &kp BACKSPACE  &mo 2
            >;
        };

        number_layer {
            label = "1";
            bindings = <
&none  &kp N1  &kp N2  &kp N3  &kp N4  &kp N5    &kp N6  &kp N7  &kp N8  &kp N9  &kp N0  &none
&none  &none   &none   &none   &none   &none     &none   &none   &none   &none   &none   &none
&none  &none   &none   &none   &none   &none     &none   &none   &none   &none   &none   &none
                       &kp N1  &none   &none     &none   &none   &none
            >;
        };

        bt_layer {
            label = "2";
            bindings = <
&kp ESC       &kp LS(N1)    &kp LS(N2)      &kp LS(N3)    &kp LS(N4)    &kp LS(N5)     &kp LS(N6)  &kp LS(N7)  &kp LS(N8)  &kp LS(N9)  &kp LS(N0)  &none
&none         &none         &kp LEFT_ARROW  &kp DEL       &kp RIGHT     &bt BT_CLR     &none       &none       &none       &none       &none       &none
&bt BT_SEL 4  &bt BT_SEL 3  &bt BT_SEL 2    &bt BT_SEL 1  &bt BT_SEL 0  &bootloader    &none       &none       &none       &none       &none       &none
                                            &none         &none         &none          &none       &none       &none
            >;
        };

        arrow_layer {
            label = "3";
            bindings = <
&none  &none           &kp UP_ARROW    &none      &sys_reset  &none    &none  &none  &none  &none  &none  &none
&none  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT  &none       &none    &none  &none  &none  &none  &none  &none
&none  &none           &none           &none      &none       &none    &none  &none  &none  &none  &none  &none
                                       &none      &none       &none    &none  &none  &none
            >;
        };
    };
};
