/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        bindings = <
//    ----------------------------------------------------------------------- -----------------------------------------------------------------------
//    | Q           | W           | E           | R           | T           | | Y           | U           | I           | O           | P           |
&trans  &kp Q         &kp W         &kp E         &kp R         &kp T           &kp Y         &kp U         &kp I         &kp O         &kp P         &none
//    ----------------------------------------------------------------------- -----------------------------------------------------------------------
//    | A(SUPER)    | S(ALT)      | D(SHIFT)    | F(CTRL)     | G           | | H           | J(CTRL)     | K(SHIFT)    | L(ALT)      | ;(SUPER)    |
&trans  &mt LGUI A    &mt LALT S    &mt LSHIFT D  &mt LCTL F    &kp G           &kp H         &mt RCTL J    &mt RSHIFT K  &mt RALT L    &mt RGUI SEMI &none
//    ----------------------------------------------------------------------- -----------------------------------------------------------------------
//    | Z           | X           | C           | V           | B           | | N           | M           | ,({)        | .(})        | /(')        |
&trans  &kp Z         &kp X         &kp C         &kp V         &kp B           &kp N         &kp M         &mt LBRC COMMA &mt RBRC DOT &mt SQT FSLH  &none
//    ----------------------------------------------------------------------- -----------------------------------------------------------------------
//                             | LAYER 1     | ESC         | SPACE       | | ENTER       | BACKSPACE   | LAYER 2     |
                                 &mo 1         &kp ESC       &kp SPACE       &kp RET       &kp BSPC      &mo 2
//                             ------------------------------------------- -------------------------------------------
                        >;
                };
                first_layer {
                        bindings = <
//    ----------------------------------------------------------------------- -----------------------------------------------------------------------
//    | TAB         | _           | UP          | _           | PRTSC       | | BRIUP       | VOLUMEUP    | VOLUMEDOWN  | MUTE        | DELETE      |
&trans  &kp TAB       &trans        &kp UP        &trans        &kp PSCRN       &kp C_BRI_UP  &kp C_VOL_UP  &kp C_VOL_DN  &kp C_MUTE    &kp DEL       &none
//    ----------------------------------------------------------------------- -----------------------------------------------------------------------
//    | SUPER       | LEFT        | DOWN        | RIGHT       | PGUP        | | BRIDOWN     | CTRL        | SHIFT       | ALT         | SUPER       |
&trans  &kp LGUI      &kp LEFT      &kp DOWN      &kp RIGHT     &kp PG_UP       &kp C_BRI_DN  &kp RCTRL     &kp RSHFT     &kp RALT      &kp RGUI      &none
//    ----------------------------------------------------------------------- -----------------------------------------------------------------------
//    | CAPSLOCK    | PLAYPAUSE   | NEXT        | PREV        | PGDN        | | BTCLEAR     | BT1         | BT2         | BT3         | BT4         |
&trans  &kp CAPS      &kp C_PP      &kp C_NEXT    &kp C_PREV    &kp PG_DN       &bt BT_CLR    &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &none
//    ----------------------------------------------------------------------- -----------------------------------------------------------------------
//                             | _           | ESC         | SPACE       | | ENTER       | BACKSPACE   | LAYER 3     |
                                 &trans        &kp ESC       &kp SPACE       &kp RET       &kp BSPC      &to 3
//                             ------------------------------------------- -------------------------------------------
                        >;
                };

                second_layer {
                        bindings = <
//    ----------------------------------------------------------------------- -----------------------------------------------------------------------
//    | [           | ]           | (           | )           | +           | | =           | 7           | 8           | 9           | DELETE      |
&trans  &kp LBKT      &kp RBKT      &kp LPAR      &kp RPAR      &kp PLUS        &kp EQUAL     &kp N7        &kp N8        &kp N9        &kp DEL       &none
//    ----------------------------------------------------------------------- -----------------------------------------------------------------------
//    | SUPER       | ALT         | SHIFT       | CTRL        | "_"         | | -           | 4           | 5           | 6           | SUPER       |
&trans  &kp LGUI      &kp LALT      &kp LSHFT     &kp LCTRL     &kp UNDERSCORE  &kp MINUS     &kp N4        &kp N5        &kp N6        &kp RGUI      &none
//    ----------------------------------------------------------------------- -----------------------------------------------------------------------
//    | \           | '           | {           | }           | *           | | 0           | 1           | 2           | 3           | `           |
&trans  &kp BSLH      &kp SQT       &kp LBRC      &kp RBRC      &kp ASTRK       &kp N0       &kp N1         &kp N2        &kp N3        &kp GRAVE     &none
//    ----------------------------------------------------------------------- -----------------------------------------------------------------------
//                             | _           | ESC         | SPACE       | | ENTER       | BACKSPACE   | _           |
                                 &trans        &kp ESC       &kp SPACE       &kp RET       &kp BSPC      &trans
//                             ------------------------------------------- -------------------------------------------
                        >;
                };

                third_layer {
                        bindings = <
//    ----------------------------------------------------------------------- -----------------------------------------------------------------------
//    | _           | _           | _           | _           | _           | | F1          | F2          | F3          | F4          | DELETE      |
&trans  &trans        &trans        &trans        &trans        &trans          &kp F1        &kp F2        &kp F3        &kp F4        &kp DEL       &none
//    ----------------------------------------------------------------------- -----------------------------------------------------------------------
//    | SUPER       | ALT         | SHIFT       | CTRL        | _           | | F5          | F6          | F7          | F8          | SUPER       |
&trans  &kp LGUI      &kp LALT      &kp LSHFT     &kp LCTRL     &trans          &kp F5        &kp F6        &kp F7        &kp F8        &kp RGUI      &none
//    ----------------------------------------------------------------------- -----------------------------------------------------------------------
//    | _           | _           | _           | _           | _           | | F9          | F10         | F11         | F12         | _           |
&trans  &trans        &trans        &trans        &trans        &kp ASTRK       &kp F9        &kp F10       &kp F11       &kp F12       &trans        &none
//    ----------------------------------------------------------------------- -----------------------------------------------------------------------
//                             | LAYER 0     | ESC         | SPACE       | | ENTER       | BACKSPACE   | _           |
                                 &to 0         &kp ESC       &kp SPACE       &kp RET       &kp BSPC      &trans
//                             ------------------------------------------- -------------------------------------------
                        >;
                };
        };
};
